.card {
    background-color: var(--card-background);
    // border: none;

    .card-header {
        background-color: var(--background);

        display: flex;
        align-items: center;
        gap: 0.25rem;
        border: none;

        font-size: 0.8rem;

        .icon {
            font-size: 1rem;
        }
    }
}
