[data-bs-theme='light'] {
    // GENERAL

    --text-color: #121212;
    --disabled-text-color: #696969;
    --shadow-color: #1212122b;

    --background: #f5f5f5;
    --second-background: #e0e0e0;

    --elements-background: #f5f5f5;

    // NAVBAR

    --navbar-text-color: var(--text-color);
    --navbar-background: var(--background);

    --navbar-btn-color: var(--second-background);

    // DROPDOWN

    --dropdown-background: var(--second-background);
    --dropdown-text-hover: #019232;
    --dropdown-divider-color: rgba(255, 255, 255, 0.15);

    // TOOLTIP

    --tooltip-background: var(--second-background);

    // CARD

    --card-background: var(--elements-background);

    // CALENDAR

    --calenar-table-background: #e8e8e8;
    --calendar-plate-bg: var(--second-background);

    --calendar-plate-hover-bg: rgba(59, 147, 63, 0.7);

    // MOBILE NAVIGATION

    --mobile-nav-background: #e8e8e8;
    --mobile-nav-item-background: var(--second-background);

    // MODAL

    // FORM INPUT

    --form-input-background: var(--second-background);

    // NOTIFICATION

    --notification-background: var(--second-background);
}
