@import '../../styles/variables.scss';

.dropdown-toggle::after {
    // display: none !important;

    margin-top: 0.25em;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.75rem;

    background-color: var(--navbar-background);
    border-radius: $navbar-br;
    box-shadow: $navbar-shadow;

    @media (min-width: 992px) {
        #logo,
        #user {
            flex: 0 0 25%;
        }
    }

    @media (max-width: 991px) {
        .mobile-nav-indicator,
        #user {
            flex: 0 0 25%;
        }
    }

    #logo {
        // width: 25%;

        img {
            width: 40px;
            height: 40px;

            box-shadow: var(--navbar-image-shadow);
        }
    }

    #navigation {
        .nav {
            display: flex;
            gap: 1em;

            .nav-link {
                color: var(--navbar-text-color) !important;

                box-shadow: $navbar-btn-shadow;

                &.active {
                    background-color: $navbar-btn-active-bg;
                }

                &:not(.active) {
                    background-color: var(--navbar-btn-color);
                }

                &:hover {
                    background-color: $navbar-btn-hover-bg;
                }
            }
        }
    }

    #user {
        display: flex;
        // width: 25%;

        display: flex;
        justify-content: flex-end;

        padding-right: 0.5rem;

        .dropdown {
            display: flex;
        }

        .login-btn {
            color: var(--navbar-text-color);
            font-size: 0.8rem;
            font-weight: 400;
            border: 1px solid $theme-color;
            display: flex;
            align-items: center;
            gap: 0.3rem;

            .iconify {
                margin-top: 0.1rem;
            }
        }

        #theme-toggle {
            color: var(--navbar-text-color);
            font-size: 1em;
            transition: 0.2s;

            &:hover {
                color: $theme-color;
            }
        }

        #user-data {
            padding: 0;
            border: none;
            text-decoration: none;

            #image {
                margin-right: 0.25rem;

                img {
                    width: 28px;
                    height: 28px;
                    box-shadow: var(--user-image-shadow);
                    margin-right: 0.25rem;
                }
            }

            #name {
                color: var(--navbar-text-color);

                font-weight: 300;
                font-size: 0.8em;
                transition: 0.2s;
            }

            &:hover {
                #name {
                    color: var(--dropdown-text-hover);
                }
            }
        }
    }
}

.mobile-navigation {
    order: 4;
    width: 100%;

    @media (max-width: 991px) {
        flex: 0 0 100%;
    }

    // margin-top: 1rem;

    .navigation-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 0.5rem;

        padding: 0.75rem;

        margin-top: 1rem;

        border-radius: 5px;
        background-color: var(--mobile-nav-background);

        .dropdown-center {
            width: 100%;
        }

        .nav-item {
            width: 100%;
            padding: 0.4rem 0.25rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            justify-content: center;

            border-radius: 5px;

            color: var(--navbar-text-color);

            background-color: var(--mobile-nav-item-background);

            box-shadow: $navbar-shadow;

            text-emphasis: none;
            text-decoration: none;

            .title {
                font-size: 0.8rem;
                font-weight: 300;
            }

            .icon {
                font-size: 0.9rem;
            }

            &.active {
                background-color: $theme-color;
                color: #fff;
            }

            &.user {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                .name {
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
        }
    }
}
